astroid==1.4.6
autoflake==0.6.6
backports.shutil-get-terminal-size==1.0.0
bootstrap-admin==0.3.6
colorama==0.3.7
decorator==4.0.10
Django==1.8.13
django-admin-bootstrapped==2.5.7
django-grappelli==2.8.1
django-taggit==0.20.2
docopt==0.6.2
ipdb==0.10.1
ipython==4.2.0
ipython-genutils==0.1.0
lazy-object-proxy==1.2.2
pexpect==4.1.0
pickleshare==0.7.2
pipreqs==0.4.3
ptyprocess==0.5.1
pyflakes==1.2.3
pylint==1.5.6
pytz==2016.4
readline==6.2.4.1
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
uWSGI==2.0.13.1
wrapt==1.10.8
yapf==0.10.0
yarg==0.1.9
