{% extends "blog/base.html" %}

{% block title %}{{ "关于我" }}{% endblock %}

{% block content %}
<div class="container">
<h1 id="toc_0">书单</h1>

<h2 id="toc_1">2017</h2>

<ul>
<li>《1984》</li>
<li>《图解 TCP/IP 协议》</li>
</ul>

<h2 id="toc_2">读过</h2>

<ul>
<li>《图解 HTTP》</li>
<li>《图解密码技术》</li>
<li>《Linux 高性能服务器编程》</li>
<li>《Python 基础教程》</li>
<li>《编写高质量代码：改善Python程序的91个建议》</li>
<li>《C++ Primer》</li>
<li>《linux 高级程序设计》</li>
<li>《C 和指针》</li>
</ul>

<h2 id="toc_3">非技术类</h2>

<ul>
<li>《真名实姓》</li>
<li>《安德的游戏》</li>
<li>《幸福的方法》</li>
<li>《三国演义》</li>
<li>《三体》全集</li>
<li>《天才在左，疯子在右》</li>
<li>《一日囚》</li>
<li>《上帝掷骰子吗》</li>
<li>《小王子》</li>
<li>《暗时间》</li>
</ul>
</div>

{% endblock %}
