{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="sidebar">
      <h2>About me</h2>
      <p>Python/c/c++ coder</p>
      <p>I've written {% total_posts %} posts so far.</p>
    </div>
  </body>
</html>
