{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Rain{% endblock %}

{% block content %}
<h1>Archive</h1>
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
{% for post in posts %}
<a href="{{ post.get_absolute_url }}" class="post">
  {{ post.title }}
</a>
  {% for tag in post.tags.all %}
  <a href="{% url "blog:post_list_by_tag" tag.slug %}" class="tag">
    {{ tag.name }}
  </a>
  {% if not forloop.last %} {% endif %}
  {% endfor %}
  <span style="display:block"></span>
  <hr/>
{% endfor %}
{% include "pagination.html" with page=posts %}
<script id="dsq-count-scr" src="//oooooio.disqus.com/count.js" async></script>
{% endblock %}
