.post-list {
    display: inline-block;
    font-weight: normal;
    font-size: 30px;
}

.post-tag {
    display: inline;
    margin-left: 10px;
    bottom: 5px;
    position: relative;
}

body {
    background-color: #F7F7F7;
}
